.lak
{
    color: brown;
}
.lj{
text-align: center;
color: brown;
}
.la{
    text-align: center;
    }
    .lb{
        text-align: center;
        }
        .lc{
            text-align: center;
            }
            .ld{
                text-align: center;
                }
                .laks{
                   background-color: black;
                    }